body{
    margin: 0;
    background-color: #f9f9f9;
}
 *{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
 }
 header{
    padding: 20px 0px;
    background-color: #18a065;
    display: flex;
 }
 .img-container{
    background-color: white;
    padding-left: 30px;
    padding: 8px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;

 }
 .title-container{
    padding: 0px 20px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
 .title-container h2, .title-container h3{
    color: white;
    font-size: 28px;
    text-transform: uppercase;


 }
 .title-container h3{
    font-size: 20px;
    font-weight: 500;
    color: #e0e0e0;
 }
 .img, .avatar{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
 }
 .container{
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
 }
 .sider, content{
    background-color: white;

 }
 .sider{
    width: calc(40%-20px);
    margin-right: 20px;
 }
 .content{
    flex-grow: 1px;
 }